<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoBitBot.UI.MainApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <appSettings>
    
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
 
  <userSettings>
    <AutoBitBot.UI.MainApp.Properties.Settings>
      <setting name="BittrexApiKey" serializeAs="String">
        <value />
      </setting>
      <setting name="BittrexApiSecret" serializeAs="String">
        <value />
      </setting>
      <setting name="BittrexLastUpdateTime" serializeAs="String">
        <value>2018-03-01</value>
      </setting>
      <setting name="PoloniexApiKey" serializeAs="String">
        <value />
      </setting>
      <setting name="PoloniexApiSecret" serializeAs="String">
        <value />
      </setting>
      <setting name="PoloniexLastUpdateTime" serializeAs="String">
        <value>2018-03-01</value>
      </setting>
    </AutoBitBot.UI.MainApp.Properties.Settings>
  </userSettings>
</configuration>
