<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <appSettings>
    <add key="BittrexApiKey" value="9aa1dab9493346beb497d98953d54e89" />
    <add key="BittrexApiSecret" value="d40684a9aea04f71aba0b049f55a25f9" />
    <add key="PoloniexApiKey" value="5JEUV38T-97YJIDOA-T4KM2389-YV07WFZR" />
    <add key="PoloniexApiSecret" value="b2572c94a11da33744a7127040e7a5b636a8c62bd1fa30832fd5975bcaaaad63f9285ba70695af94ee91e881bcd519231c8bd5df3f8441dceec36606f7168a1e" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
