<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BittrexApiKey" value="9aa1dab9493346beb497d98953d54e89" />
    <add key="BittrexApiSecret" value="d40684a9aea04f71aba0b049f55a25f9" />
  </appSettings>

  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <remove name="Default" />
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="autobitbotLog.log" />
      </listeners>
    </trace>
  </system.diagnostics>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>